
body{
    background-color: hsl(0, 0%, 9%);
    color: white;
}

.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .075;  
    z-index: 1000;
    pointer-events: none;
    background: url(/img/noise.gif) ;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    font-size: fixed;
}

h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size:10em;
    text-align: center;
    position: absolute;
    background: linear-gradient(75deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    letter-spacing: 5px;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:animate 10s linear infinite;
}

#footer{
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    background: linear-gradient(75deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 200%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

@media only screen and (max-width: 767px){
    h2, h1{
        font-size: 7.5em;
    }
}

@media only screen and (max-width: 479px){
    h2, h1{
        font-size: 5em;
    }
}

#title-img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 50px;
}

#logo{
    width:40%;
    height:40%;
    border-radius: 50px;
}

#nav-logo{
    margin-top: 50px;
    width:45%;
    height:45%;
    border-radius: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#icon:hover{
    transform: scale(1.1);
}

h2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 5em;
    text-align: center;
    background: linear-gradient(75deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 200%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:animate 10s linear infinite;
}

h3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 2.5em;
    text-align: center;
    background: linear-gradient(75deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 200%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:animate 10s linear infinite;
}



p{
    font-family: monospace;
    font-size:2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#caption{
    font-family: monospace;
    font-size:2em;
    text-align: center;
}

a{
    color:rgb(255, 255, 255);
}

a:visited{
    color:#ff0000
}

a:hover{
    color:#0158d2
}

.container{
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
}

.contact{
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    width: 100%;
    height: 100%;
    width: 85%;
    height: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

}

#name{
    border-radius: 10px;
    font-family: monospace;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    border: 1px solid rgb(92, 92, 92);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 75%;
}

#email{
    border-radius: 10px;
    font-family: monospace;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    border: 1px solid rgb(92, 92, 92);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 75%;
}

#subject{
    border-radius: 10px;
    font-family: monospace;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    border: 1px solid rgb(92, 92, 92);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 75%;
}

#contactLbl{
    font-family: monospace;
    font-size: 3em;
    background: linear-gradient(75deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 200%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:animate 10s linear infinite;
    padding-top: 20px;
}

#message{
    border-radius: 10px;
    font-family: monospace;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    border: 1px solid rgb(92, 92, 92);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;
    width: 75%;
    height: 75%;
}

button{
    font-family: monospace;
    font-size: 25px;
    background: linear-gradient(75deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 200%;
    color: rgb(36, 34, 34);
    border-radius: 15px;
    animation:animate 10s linear infinite;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav{
    display:flex;
    justify-content: center;
}

